.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgb(245, 235, 96),
    rgb(0, 70, 128)
  );
}

.form {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
}

.title {
  text-align: center;
}
